En el primero tenemos los índices "reales" (3D); cada línea tiene el código de la persona (ejemplo "f1005_N"), el código del índice (ej "en L-en R/al L-al R x 100", que viene a ser la distancia entre endocanthions partida por la distancia entre los alares en porcentaje) y el valor. En el fichero "summary" vienen los correspondientes valores "2D" medidos en las fotografías. En cada fila tenemos el sujeto, todos los valores de los índices, y finalmente algunos datos sobre la fotografía (height y width) y la pose del sujeto en la fotografía (ángulos de Euler, la focal fx, el desplazamiento de la cámara con respecto al sujeto tx,ty,tz).

No se trata de encontrar correspondencias entre 2D y 3D, sino ver si existe una morfologia compatible

Estimar (medir) medidas 3D a partir de medidas 2D

In [130]:
import pandas as pd
import numpy as np

image_df = pd.read_csv('summary.csv')
image_df.head()

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
0,f1005_N,0,None,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,...,0.0,-0.0,0.0,-0.0,20,600,-100,-100,-100,800
1,f1005_N,1,None,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,...,0.0,-0.0,0.0,-0.0,20,600,-100,-100,-50,800
2,f1005_N,5,None,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,...,0.0,-0.0,0.0,-0.0,20,600,-100,-50,-100,800
3,f1005_N,6,None,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,...,0.0,-0.0,0.0,-0.0,20,600,-100,-50,-50,800
4,f1005_N,7,None,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,...,0.0,-0.0,0.0,-0.0,20,600,-100,-50,0,800

In [131]:
image_df[' config_num'].value_counts()

16      30
1803    30
3306    30
1291    30
3370    30
        ..
263      2
574      1
19       1
14       1
439      1
Name:  config_num, Length: 2090, dtype: int64

In [132]:
# Para cada case tengo que convertirlo en un vector de 25 valores (y label)
real_df = pd.read_csv('indices3d.txt', header=None, names=["case", "measurement", "value"])
real_df.head()

      case                 measurement      value
0  f1005_N                   al L-al R  34.995157
1  f1005_N   al L-al R/ch L-ch R x 100  69.773788
2  f1005_N        al L-al R/n-sn x 100  74.211637
3  f1005_N                   ch L-ch R  50.155162
4  f1005_N                   ec L-ec R  95.290407

In [133]:
real_df.case.unique()

array(['f1005_N', 'f1007_N', 'f1025_N', 'f1037_N', 'f1010_N', 'f1028_N',
       'M1002_N_conf', 'M1013_N_conf', 'M1035_N_conf', 'M1043_N_conf',
       'M1019_N_conf', 'M1041_N_conf', 'f1011_N', 'f1019_N', 'f1032_N',
       'M1004_N_conf', 'M1006_N_conf', 'f1012_N', 'f1027_N',
       'M1003_N_conf', 'M1005_N_conf', 'M1044_N_conf', 'M1007_N_conf',
       'M1009_N_conf', 'M1008_N_conf', 'M1010_N_conf', 'f1020_N',
       'f1021_N', 'f1022_N', 'f1023_N'], dtype=object)

In [134]:
image_df.case.unique()

array(['f1005_N', 'f1007_N', 'f1025_N', 'f1037_N', 'f1010_N', 'f1028_N',
       'M1002_N_conf', 'M1013_N_conf', 'M1035_N_conf', 'M1043_N_conf',
       'M1019_N_conf', 'M1041_N_conf', 'f1011_N', 'f1019_N', 'f1032_N',
       'M1004_N_conf', 'M1006_N_conf', 'f1012_N', 'f1027_N',
       'M1003_N_conf', 'M1005_N_conf', 'M1044_N_conf', 'M1007_N_conf',
       'M1009_N_conf', 'M1008_N_conf', 'M1010_N_conf', 'f1020_N',
       'f1021_N', 'f1022_N', 'f1023_N'], dtype=object)

In [135]:
real_df.case.unique()==image_df.case.unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [136]:
list(image_df)

['case',
 ' config_num',
 ' dest_dir',
 ' al L-al R',
 ' al L-al R/ch L-ch R x 100',
 ' al L-al R/n-sn x 100',
 ' ch L-ch R',
 ' ec L-ec R',
 ' en L-ec L',
 ' en L-ec L/fz L-fz R x 100',
 ' en L-en R',
 ' en L-en R/al L-al R x 100',
 ' en L-en R/ec L-ec R x 100',
 ' ft L-ft R',
 ' fz L-fz R',
 ' go L-go R',
 ' go L-go R/zy L-zy R x 100',
 ' mso L-gn',
 ' n-gn',
 ' n-gn/zy L-zy R x 100',
 ' n-sn',
 ' n-sn/n-gn x 100',
 ' sm-gn',
 ' sm-gn/mso L-gn x 100',
 ' sn-gn',
 ' zy L-zy R',
 ' zy L-zy R/ft L-ft R x 100',
 ' zy L-zy R/mso L-gn x 100',
 ' Ax',
 ' Ay',
 ' Az',
 ' angle',
 ' eulerX',
 ' eulerY',
 ' eulerZ',
 ' fx',
 ' height',
 ' tx',
 ' ty',
 ' tz',
 ' width']

En el dataset 2D (imágenes == summary) el mismo sujeto aparece un cierto número de veces, cada vez con un ligero cambio de posición (columnas ' Ax',
 ' Ay',
 ' Az',
 ' angle',
 ' eulerX',
 ' eulerY',
 ' eulerZ',
 ' fx',
 ' height',
 ' tx',
 ' ty',
 ' tz',
 ' width')
 
 todas las columnas del dataset 2d son medidas que han sido tomadas de las fotografias? Entiendo que las medidas como tal son tomadas de la foto directamente, pero el resto de columnas que son? datos sobre la fotografia
 
 width y height son la anchura y altura de la cara? no, son datos sobre la fotografia y datos del sujeto
 
 las labels y (target de predicción) aparecen en el dataset indices 3d?
 
 multi-target regression? Es decir, para cada fila hay que predecir todas y cada una de las 25 medidas que aparecen en indices 3d para el sujeto correspondiente de dicha fila?

In [137]:
image_df[image_df.case=='f1005_N']

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
0,f1005_N,0,None,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800
1,f1005_N,1,None,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-50,800
2,f1005_N,5,None,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-100,800
3,f1005_N,6,None,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-50,800
4,f1005_N,7,None,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,0,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1979,f1005_N,4056,None,70.000000,71.395127,75.199293,98.045908,181.044194,57.218878,26.599337,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-50,800
1980,f1005_N,4057,None,81.006173,70.429500,74.239523,115.017390,210.038092,66.272166,26.712009,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,0,800
1981,f1005_N,4060,None,60.299254,69.548803,74.671493,86.700634,159.260792,50.990195,26.846986,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-100,800
1982,f1005_N,4061,None,70.349129,71.976187,76.529764,97.739450,180.471604,57.070132,26.548555,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-50,800
1983,f1005_N,4062,None,81.301906,70.785680,75.247294,114.856432,209.618701,66.098411,26.616259,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,0,800

In [138]:
image_df.case.unique()

array(['f1005_N', 'f1007_N', 'f1025_N', 'f1037_N', 'f1010_N', 'f1028_N',
       'M1002_N_conf', 'M1013_N_conf', 'M1035_N_conf', 'M1043_N_conf',
       'M1019_N_conf', 'M1041_N_conf', 'f1011_N', 'f1019_N', 'f1032_N',
       'M1004_N_conf', 'M1006_N_conf', 'f1012_N', 'f1027_N',
       'M1003_N_conf', 'M1005_N_conf', 'M1044_N_conf', 'M1007_N_conf',
       'M1009_N_conf', 'M1008_N_conf', 'M1010_N_conf', 'f1020_N',
       'f1021_N', 'f1022_N', 'f1023_N'], dtype=object)

In [139]:
real_df.case.unique()

array(['f1005_N', 'f1007_N', 'f1025_N', 'f1037_N', 'f1010_N', 'f1028_N',
       'M1002_N_conf', 'M1013_N_conf', 'M1035_N_conf', 'M1043_N_conf',
       'M1019_N_conf', 'M1041_N_conf', 'f1011_N', 'f1019_N', 'f1032_N',
       'M1004_N_conf', 'M1006_N_conf', 'f1012_N', 'f1027_N',
       'M1003_N_conf', 'M1005_N_conf', 'M1044_N_conf', 'M1007_N_conf',
       'M1009_N_conf', 'M1008_N_conf', 'M1010_N_conf', 'f1020_N',
       'f1021_N', 'f1022_N', 'f1023_N'], dtype=object)

In [140]:
image_df.case.unique()==real_df.case.unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True])

In [141]:
np.asarray(list(image_df)[3:28])

array([' al L-al R', ' al L-al R/ch L-ch R x 100',
       ' al L-al R/n-sn x 100', ' ch L-ch R', ' ec L-ec R', ' en L-ec L',
       ' en L-ec L/fz L-fz R x 100', ' en L-en R',
       ' en L-en R/al L-al R x 100', ' en L-en R/ec L-ec R x 100',
       ' ft L-ft R', ' fz L-fz R', ' go L-go R',
       ' go L-go R/zy L-zy R x 100', ' mso L-gn', ' n-gn',
       ' n-gn/zy L-zy R x 100', ' n-sn', ' n-sn/n-gn x 100', ' sm-gn',
       ' sm-gn/mso L-gn x 100', ' sn-gn', ' zy L-zy R',
       ' zy L-zy R/ft L-ft R x 100', ' zy L-zy R/mso L-gn x 100'],
      dtype='<U26')

In [142]:
# length is 25
# todas estas medidas son comunes entre data_2d y data_3d
# se mencionan en el paper como 25 DPIs reducidos, de los 33 DPIs originales
real_df.measurement.unique()

array([' al L-al R', ' al L-al R/ch L-ch R x 100',
       ' al L-al R/n-sn x 100', ' ch L-ch R', ' ec L-ec R', ' en L-ec L',
       ' en L-ec L/fz L-fz R x 100', ' en L-en R',
       ' en L-en R/al L-al R x 100', ' en L-en R/ec L-ec R x 100',
       ' ft L-ft R', ' fz L-fz R', ' go L-go R',
       ' go L-go R/zy L-zy R x 100', ' mso L-gn', ' n-gn',
       ' n-gn/zy L-zy R x 100', ' n-sn', ' n-sn/n-gn x 100', ' sm-gn',
       ' sm-gn/mso L-gn x 100', ' sn-gn', ' zy L-zy R',
       ' zy L-zy R/ft L-ft R x 100', ' zy L-zy R/mso L-gn x 100'],
      dtype=object)

In [143]:
np.asarray(list(image_df)[3:28])==real_df.measurement.unique()

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True])

In [144]:
GOAL INPUT: PHOTO (2d indices)
GOAL OUTPUT: can be the person filtered out? does this the person 2d photo corresponds with the 3d available indices?

    Training: model-->
INPUT: 2d photo measurement indices and other 2d photo features
OUTPUT: prediction of 3d DPIs range, and perform filtering from 2d photo

SyntaxError: invalid syntax (<ipython-input-144-5d4236d76070>, line 1)

In [145]:
# -----------------------------------------------------
# MODEL INPUT Y

real_df.head()
# create array with 25 measurement names of label y
y_measurement_names = real_df.measurement.unique()

# create list to append all the vectors that will form label y
y_values = []
y_case = []

for i in real_df.case.unique(): # 30 unique cases
#     print(i)
#     print(real_df[real_df.case==i].value.to_numpy())
#     print('')
    y_values.append(real_df[real_df.case==i].value.to_numpy())
    y_case.append(i)

# convert the list to numpy array
y_values = np.array(y_values)
y_case = np.array(y_case)
print(y_values)
print(y_case)

[[ 34.99515671  69.7737883   74.21163719  50.15516222  95.29040665
   31.27510732  27.02726827  36.51652124 104.34735741  38.32129857
  108.15297792 115.71686419 111.10568049  82.46979039 123.33906426
  105.84067154  78.56176172  47.15588825  44.55365557  23.43532085
   19.00072859  59.92123195 134.72288455 124.56696722 109.22969568]
 [ 30.80348302  63.84592363  62.76309135  48.24659316  90.33437951
   28.9344251   25.86087326  35.73876917 116.02184451  39.56275492
   94.56859261 111.88494992 109.52085543  90.00510428 121.63446435
  105.19042583  86.44632302  49.07897677  46.65726598  18.5721228
   15.26879976  57.44259045 121.68293822 128.67161799 100.03985208]
 [ 30.72208304  64.7076418   54.62489616  47.47829188  94.11979836
   32.75941876  27.34609511  33.05345152 107.58857555  35.11848952
   89.47483537 119.79560014 112.87879386  88.19164878 124.49627101
  113.93729998  89.01865443  56.24190653  49.36215492  20.29725544
   16.30350474  61.15133802 127.99261089 143.04872466 102.80838924]
 [ 34.52779911  67.44568712  67.71112832  51.19348706  98.86000221
   31.71817979  26.59145507  36.99240949 107.13804658  37.4189851
   95.95855117 119.27959452 116.52044598  89.24324191 122.00792677
  104.54264295  80.06941869  50.99279833  48.77703193  15.44074178
   12.65552345  54.70194373 130.56500804 136.0639635  107.01354535]
 [ 31.87736185  64.66548584  63.64570557  49.29578961  89.53089039
   29.02240762  25.99806338  35.20881993 110.45085884  39.32589052
   85.43742623 111.6329597  101.26827969  78.02665152 122.36370828
  111.83664092  86.16951561  50.08564452  44.78464671  22.52837593
   18.41099477  62.45493188 129.78678147 151.90858058 106.06640097]
 [ 34.51736696  86.9070359   69.0001755   39.71757476  90.68433315
   29.81092251  25.5486405   33.24071238  96.30141379  36.65540808
  109.76500467 116.68300903 105.81695431  77.8959646  119.59985962
  107.71035242  79.28976839  50.02504227  46.44404288  19.34536348
   16.17507206  59.07721337 135.84394886 123.7588877  113.58203036]
 [ 38.9781069   77.06648745  75.70462134  50.57724595  92.14127065
   25.30801606  20.67620993  41.76196609 107.14210978  45.32384435
  102.12850357 122.40162072 115.27084116  84.81103137 126.41207035
  115.33736851  84.85997915  51.4870905   44.64042414  24.70442136
   19.54277095  64.83224263 135.91491497 133.08225443 107.51735542]
 [ 34.79313854  70.78125665  61.31584918  49.1558644   96.26310681
   30.1966711   25.57156584  37.651      108.2138651   39.11259593
  102.11387993 118.08690672 117.63884678  86.26396484 128.07201706
  118.33156747  86.77193338  56.74411919  47.95349238  19.92855046
   15.56042523  62.68954183 136.37078587 133.54774686 106.4797674 ]
 [ 41.02138938  76.11252553  74.29342098  53.8957144   91.41054807
   28.60177367  24.45432318  35.76319385  87.18182     39.12370575
  102.52991734 116.95998885 119.65573296  85.68741753 127.33305357
  114.37685447  81.90712674  55.21537283  48.27495308  20.79418728
   16.33054945  59.60159446 139.64212765 136.19646955 109.66683335]
 [ 36.8939188   64.20938737  64.67397556  57.45876158  93.93128701
   31.22503482  26.08632436  33.33548336  90.35495401  35.48922241
   91.89784346 119.69886744 118.4485999   88.71558854 130.48656346
  119.61897982  89.59217926  57.04600417  47.68975982  19.12237282
   14.65466812  64.48449544 133.51497955 145.28630328 102.32086432]
 [ 35.5643403   71.0943545   62.05240485  50.02414122 100.0516771
   34.2307276   28.46701619  35.13286638  98.78677938  35.11472011
   83.01782039 120.24698115 120.47004512  87.91680719 133.66348197
  119.70810182  87.36075508  57.31339564  47.87762463  23.11822811
   17.29584459  62.98853664 137.02732045 165.0577187  102.51664735]
 [ 33.90744563  55.20375179  63.40416733  61.42235724  90.76279914
   29.58504715  26.22940498  35.74995937 105.43395028  39.38833939
   95.0996775  112.79343613 110.06356592  81.49644544 123.63381842
  114.39441016  84.70321426  53.47826028  46.74901528  19.97789107
   16.15892102  61.6712716  135.05321038 142.01226958 109.23646306]
 [ 32.36541644  64.04128927  67.28273484  50.53835863  88.25179296
   28.34825886  25.06896799  34.10852004 105.38569805  38.64909584
   90.30950061 113.08107645 107.82974423  83.28808002 123.00948287
  105.65967353  81.61190966  48.10359823  45.52692302  23.11384374
   18.79029421  58.06036096 129.46599825 143.35811556 105.24879483]
 [ 33.85417969  67.11573771  64.55776961  50.44149233  87.53284577
   25.38856944  22.89210421  39.49809907 116.67126312  45.12374609
   90.36463302 110.90535498 116.6502748   89.93704359 122.98212098
  107.50027698  82.88242023  52.44013214  48.78139258  18.26486133
   14.85163956  57.38179015 129.70214513 143.53197793 105.46422854]
 [ 32.59392296  63.40643246  70.6197012   51.40475768  89.67316483
   28.78246443  25.93108296  34.99187352 107.35704802  39.02156636
   83.66472872 110.99599842 107.08712506  83.74032694 121.93446903
  105.10385572  82.18944375  46.1541502   43.91289918  19.2971611
   15.82584585  60.9643945  127.87999398 152.84815471 104.8760002 ]
 [ 35.00439871  68.89271633  71.65578888  50.81001385  92.80085775
   28.91059055  25.25486391  35.28683472 100.80685862  38.02425492
   92.49242893 114.47533692 118.1768779   87.94175824 118.71491381
  105.84340939  78.76376229  48.85076176  46.15380593  20.13522119
   16.96098707  58.38720914 134.38084509 145.28848106 113.19626219]
 [ 35.60708793  67.35351303  62.81547482  52.86596991  97.6405996
   29.94402291  24.84882713  37.72024174 105.93464371  38.63171866
   87.57256443 120.50477374 115.50629192  80.25165828 131.43834086
  118.38130279  82.24916323  56.68521655  47.88358906  21.75469846
   16.55125766  65.12864101 143.93009989 164.35524164 109.50389281]
 [ 30.08013104  58.35978546  61.16750574  51.54256618  96.64387363
   29.09328521  23.69448102  39.78641738 132.26809858  41.16806982
  100.23796362 122.78507046 114.7513866   80.1459539  123.64025263
  103.39978558  72.21764106  49.17665135  47.55972276  17.45446398
   14.11713711  55.78019795 143.17801588 142.83811314 115.80210558]
 [ 36.78965378  71.56857739  66.08659994  51.40475768  92.80046602
   29.02676558  24.87988532  36.87770041 100.23932444  39.73870175
   88.77622717 116.66760197 108.02892296  79.14962098 128.75808335
  116.15532122  85.10359445  55.66885543  47.92622055  20.81004903
   16.16213016  63.37109774 136.48697445 153.74270659 106.00264535]
 [ 38.77474114  74.70742099  69.95739878  51.90212783  94.41120254
   27.49798438  22.42741443  39.3736053  101.54446976  41.70437854
   95.12554083 122.608803   117.28730743  83.41439938 123.52367509
  115.64343908  82.24528489  55.42621912  47.92854619  21.16358187
   17.13321908  61.26452595 140.60798651 147.81307447 113.83079916]
 [ 36.0251659   69.23687511  67.76634607  52.03176175  86.24406094
   27.24128505  24.11903791  32.8927      91.30478424  38.13908997
   87.95778417 112.94515623 107.57904344  81.87091162 127.11178334
  116.8582406   88.93266181  53.16085047  45.49174299  20.73211898
   16.31014721  65.44712296 131.40081295 149.39077216 103.37421874]
 [ 30.05135315  56.70027949  46.10007173  53.00036159  90.41699971
   29.72029134  25.42768336  32.88277663 109.42195003  36.36791393
   98.69502759 116.88163217 116.23256044  85.94753388 127.84710169
  126.16064962  93.28880536  65.1872156   51.6700063   19.78180984
   15.47302174  64.17145219 135.23664402 137.02477959 105.77998424]
 [ 37.59450432  68.14471235  66.03251899  55.16863015  90.96311328
   26.29428795  20.61466993  39.44470836 104.92147475  43.36341067
   88.31925385 127.55134109 160.04266166  94.62011213 130.05659257
  121.6195399   71.90366858  56.93331846  46.81264089  31.19371511
   23.98472426  65.26405307 169.14232931 191.51240749 130.0528685 ]
 [ 42.57225709  78.56969687  77.03513797  54.18406686  99.40832046
   29.52427074  22.44379291  41.59696419  97.70908813  41.84454983
   97.04273273 131.54759922 157.58568857  94.58654051 137.56663213
  120.75888571  72.48224974  55.2634268   45.76344546  27.3500265
   19.88129394  66.9169175  166.60477032 171.68186183 121.10841688]
 [ 39.49972806  79.68734462  68.52393906  49.56838285  90.4251617
   28.34198024  23.45626554  33.83716896  85.66430865  37.42008123
   89.47518524 120.82903903 118.81523105  86.60099795 116.29951497
  107.15304975  78.10077007  57.64369154  53.79566114  20.9954811
   18.05293952  51.03799516 137.19845482 153.3368771  117.96992864]
 [ 29.81581969  69.115432    62.6073021   43.13916419  86.48458705
   26.76912246  23.27312651  33.10915096 111.04558352  38.28329658
   83.65062773 115.02159986 122.74058391  89.85892009 112.6283261
  103.04060864  75.43648175  47.62354979  46.21823417  17.3707024
   15.42303167  55.74373902 136.59254283 163.28932196 121.27725552]
 [ 40.12635154  81.24034729  69.52172138  49.39214673  92.09533584
   27.20359416  23.34918268  38.89454661  96.93018456  42.23291685
   88.75991642 116.50769337 115.75925627  83.350955   122.21194251
  111.13906399  80.02424532  57.71771864  51.93288171  12.489007
   10.21913795  54.52675249 138.88173959 156.46898419 113.6400721 ]
 [ 35.09601432  71.17266865  74.17006226  49.31108386  89.59317675
   27.45211516  24.29589438  35.16716504 100.20273163  39.25205726
   91.01968234 112.99075772 122.12809932  89.04132612 118.37963479
  102.84605998  74.98314981  47.31830236  46.00886254  18.23209759
   15.40138016  56.86642399 137.15889535 150.69146785 115.86359056]
 [ 33.61005322  71.7551177   63.26973031  46.8399388   87.44681611
   28.08772126  24.91828803  33.5628093   99.85943517  38.38082482
   79.19212634 112.71930569 116.73566006  85.23909822 117.79208556
  106.85195194  78.02212299  53.12185314  49.71537925  17.82654509
   15.13390735  54.34372636 136.95083888 172.93491817 116.26489015]
 [ 30.96508695  69.94197752  50.44998465  44.27253567  89.95412696
   27.50010162  23.57857022  35.58746034 114.92769388  39.56178726
   86.01510767 116.6317608  118.79269883  85.15927701 125.1534181
  117.19618352  84.01477831  61.37779261  52.37183564  17.57554497
   14.04320013  57.82043862 139.49472447 162.17467868 111.45898097]]
['f1005_N' 'f1007_N' 'f1025_N' 'f1037_N' 'f1010_N' 'f1028_N'
 'M1002_N_conf' 'M1013_N_conf' 'M1035_N_conf' 'M1043_N_conf'
 'M1019_N_conf' 'M1041_N_conf' 'f1011_N' 'f1019_N' 'f1032_N'
 'M1004_N_conf' 'M1006_N_conf' 'f1012_N' 'f1027_N' 'M1003_N_conf'
 'M1005_N_conf' 'M1044_N_conf' 'M1007_N_conf' 'M1009_N_conf'
 'M1008_N_conf' 'M1010_N_conf' 'f1020_N' 'f1021_N' 'f1022_N' 'f1023_N']

In [146]:
y_values

array([[ 34.99515671,  69.7737883 ,  74.21163719,  50.15516222,
         95.29040665,  31.27510732,  27.02726827,  36.51652124,
        104.34735741,  38.32129857, 108.15297792, 115.71686419,
        111.10568049,  82.46979039, 123.33906426, 105.84067154,
         78.56176172,  47.15588825,  44.55365557,  23.43532085,
         19.00072859,  59.92123195, 134.72288455, 124.56696722,
        109.22969568],
       [ 30.80348302,  63.84592363,  62.76309135,  48.24659316,
         90.33437951,  28.9344251 ,  25.86087326,  35.73876917,
        116.02184451,  39.56275492,  94.56859261, 111.88494992,
        109.52085543,  90.00510428, 121.63446435, 105.19042583,
         86.44632302,  49.07897677,  46.65726598,  18.5721228 ,
         15.26879976,  57.44259045, 121.68293822, 128.67161799,
        100.03985208],
       [ 30.72208304,  64.7076418 ,  54.62489616,  47.47829188,
         94.11979836,  32.75941876,  27.34609511,  33.05345152,
        107.58857555,  35.11848952,  89.47483537, 119.79560014,
        112.87879386,  88.19164878, 124.49627101, 113.93729998,
         89.01865443,  56.24190653,  49.36215492,  20.29725544,
         16.30350474,  61.15133802, 127.99261089, 143.04872466,
        102.80838924],
       [ 34.52779911,  67.44568712,  67.71112832,  51.19348706,
         98.86000221,  31.71817979,  26.59145507,  36.99240949,
        107.13804658,  37.4189851 ,  95.95855117, 119.27959452,
        116.52044598,  89.24324191, 122.00792677, 104.54264295,
         80.06941869,  50.99279833,  48.77703193,  15.44074178,
         12.65552345,  54.70194373, 130.56500804, 136.0639635 ,
        107.01354535],
       [ 31.87736185,  64.66548584,  63.64570557,  49.29578961,
         89.53089039,  29.02240762,  25.99806338,  35.20881993,
        110.45085884,  39.32589052,  85.43742623, 111.6329597 ,
        101.26827969,  78.02665152, 122.36370828, 111.83664092,
         86.16951561,  50.08564452,  44.78464671,  22.52837593,
         18.41099477,  62.45493188, 129.78678147, 151.90858058,
        106.06640097],
       [ 34.51736696,  86.9070359 ,  69.0001755 ,  39.71757476,
         90.68433315,  29.81092251,  25.5486405 ,  33.24071238,
         96.30141379,  36.65540808, 109.76500467, 116.68300903,
        105.81695431,  77.8959646 , 119.59985962, 107.71035242,
         79.28976839,  50.02504227,  46.44404288,  19.34536348,
         16.17507206,  59.07721337, 135.84394886, 123.7588877 ,
        113.58203036],
       [ 38.9781069 ,  77.06648745,  75.70462134,  50.57724595,
         92.14127065,  25.30801606,  20.67620993,  41.76196609,
        107.14210978,  45.32384435, 102.12850357, 122.40162072,
        115.27084116,  84.81103137, 126.41207035, 115.33736851,
         84.85997915,  51.4870905 ,  44.64042414,  24.70442136,
         19.54277095,  64.83224263, 135.91491497, 133.08225443,
        107.51735542],
       [ 34.79313854,  70.78125665,  61.31584918,  49.1558644 ,
         96.26310681,  30.1966711 ,  25.57156584,  37.651     ,
        108.2138651 ,  39.11259593, 102.11387993, 118.08690672,
        117.63884678,  86.26396484, 128.07201706, 118.33156747,
         86.77193338,  56.74411919,  47.95349238,  19.92855046,
         15.56042523,  62.68954183, 136.37078587, 133.54774686,
        106.4797674 ],
       [ 41.02138938,  76.11252553,  74.29342098,  53.8957144 ,
         91.41054807,  28.60177367,  24.45432318,  35.76319385,
         87.18182   ,  39.12370575, 102.52991734, 116.95998885,
        119.65573296,  85.68741753, 127.33305357, 114.37685447,
         81.90712674,  55.21537283,  48.27495308,  20.79418728,
         16.33054945,  59.60159446, 139.64212765, 136.19646955,
        109.66683335],
       [ 36.8939188 ,  64.20938737,  64.67397556,  57.45876158,
         93.93128701,  31.22503482,  26.08632436,  33.33548336,
         90.35495401,  35.48922241,  91.89784346, 119.69886744,
        118.4485999 ,  88.71558854, 130.48656346, 119.61897982,
         89.59217926,  57.04600417,  47.68975982,  19.12237282,
         14.65466812,  64.48449544, 133.51497955, 145.28630328,
        102.32086432],
       [ 35.5643403 ,  71.0943545 ,  62.05240485,  50.02414122,
        100.0516771 ,  34.2307276 ,  28.46701619,  35.13286638,
         98.78677938,  35.11472011,  83.01782039, 120.24698115,
        120.47004512,  87.91680719, 133.66348197, 119.70810182,
         87.36075508,  57.31339564,  47.87762463,  23.11822811,
         17.29584459,  62.98853664, 137.02732045, 165.0577187 ,
        102.51664735],
       [ 33.90744563,  55.20375179,  63.40416733,  61.42235724,
         90.76279914,  29.58504715,  26.22940498,  35.74995937,
        105.43395028,  39.38833939,  95.0996775 , 112.79343613,
        110.06356592,  81.49644544, 123.63381842, 114.39441016,
         84.70321426,  53.47826028,  46.74901528,  19.97789107,
         16.15892102,  61.6712716 , 135.05321038, 142.01226958,
        109.23646306],
       [ 32.36541644,  64.04128927,  67.28273484,  50.53835863,
         88.25179296,  28.34825886,  25.06896799,  34.10852004,
        105.38569805,  38.64909584,  90.30950061, 113.08107645,
        107.82974423,  83.28808002, 123.00948287, 105.65967353,
         81.61190966,  48.10359823,  45.52692302,  23.11384374,
         18.79029421,  58.06036096, 129.46599825, 143.35811556,
        105.24879483],
       [ 33.85417969,  67.11573771,  64.55776961,  50.44149233,
         87.53284577,  25.38856944,  22.89210421,  39.49809907,
        116.67126312,  45.12374609,  90.36463302, 110.90535498,
        116.6502748 ,  89.93704359, 122.98212098, 107.50027698,
         82.88242023,  52.44013214,  48.78139258,  18.26486133,
         14.85163956,  57.38179015, 129.70214513, 143.53197793,
        105.46422854],
       [ 32.59392296,  63.40643246,  70.6197012 ,  51.40475768,
         89.67316483,  28.78246443,  25.93108296,  34.99187352,
        107.35704802,  39.02156636,  83.66472872, 110.99599842,
        107.08712506,  83.74032694, 121.93446903, 105.10385572,
         82.18944375,  46.1541502 ,  43.91289918,  19.2971611 ,
         15.82584585,  60.9643945 , 127.87999398, 152.84815471,
        104.8760002 ],
       [ 35.00439871,  68.89271633,  71.65578888,  50.81001385,
         92.80085775,  28.91059055,  25.25486391,  35.28683472,
        100.80685862,  38.02425492,  92.49242893, 114.47533692,
        118.1768779 ,  87.94175824, 118.71491381, 105.84340939,
         78.76376229,  48.85076176,  46.15380593,  20.13522119,
         16.96098707,  58.38720914, 134.38084509, 145.28848106,
        113.19626219],
       [ 35.60708793,  67.35351303,  62.81547482,  52.86596991,
         97.6405996 ,  29.94402291,  24.84882713,  37.72024174,
        105.93464371,  38.63171866,  87.57256443, 120.50477374,
        115.50629192,  80.25165828, 131.43834086, 118.38130279,
         82.24916323,  56.68521655,  47.88358906,  21.75469846,
         16.55125766,  65.12864101, 143.93009989, 164.35524164,
        109.50389281],
       [ 30.08013104,  58.35978546,  61.16750574,  51.54256618,
         96.64387363,  29.09328521,  23.69448102,  39.78641738,
        132.26809858,  41.16806982, 100.23796362, 122.78507046,
        114.7513866 ,  80.1459539 , 123.64025263, 103.39978558,
         72.21764106,  49.17665135,  47.55972276,  17.45446398,
         14.11713711,  55.78019795, 143.17801588, 142.83811314,
        115.80210558],
       [ 36.78965378,  71.56857739,  66.08659994,  51.40475768,
         92.80046602,  29.02676558,  24.87988532,  36.87770041,
        100.23932444,  39.73870175,  88.77622717, 116.66760197,
        108.02892296,  79.14962098, 128.75808335, 116.15532122,
         85.10359445,  55.66885543,  47.92622055,  20.81004903,
         16.16213016,  63.37109774, 136.48697445, 153.74270659,
        106.00264535],
       [ 38.77474114,  74.70742099,  69.95739878,  51.90212783,
         94.41120254,  27.49798438,  22.42741443,  39.3736053 ,
        101.54446976,  41.70437854,  95.12554083, 122.608803  ,
        117.28730743,  83.41439938, 123.52367509, 115.64343908,
         82.24528489,  55.42621912,  47.92854619,  21.16358187,
         17.13321908,  61.26452595, 140.60798651, 147.81307447,
        113.83079916],
       [ 36.0251659 ,  69.23687511,  67.76634607,  52.03176175,
         86.24406094,  27.24128505,  24.11903791,  32.8927    ,
         91.30478424,  38.13908997,  87.95778417, 112.94515623,
        107.57904344,  81.87091162, 127.11178334, 116.8582406 ,
         88.93266181,  53.16085047,  45.49174299,  20.73211898,
         16.31014721,  65.44712296, 131.40081295, 149.39077216,
        103.37421874],
       [ 30.05135315,  56.70027949,  46.10007173,  53.00036159,
         90.41699971,  29.72029134,  25.42768336,  32.88277663,
        109.42195003,  36.36791393,  98.69502759, 116.88163217,
        116.23256044,  85.94753388, 127.84710169, 126.16064962,
         93.28880536,  65.1872156 ,  51.6700063 ,  19.78180984,
         15.47302174,  64.17145219, 135.23664402, 137.02477959,
        105.77998424],
       [ 37.59450432,  68.14471235,  66.03251899,  55.16863015,
         90.96311328,  26.29428795,  20.61466993,  39.44470836,
        104.92147475,  43.36341067,  88.31925385, 127.55134109,
        160.04266166,  94.62011213, 130.05659257, 121.6195399 ,
         71.90366858,  56.93331846,  46.81264089,  31.19371511,
         23.98472426,  65.26405307, 169.14232931, 191.51240749,
        130.0528685 ],
       [ 42.57225709,  78.56969687,  77.03513797,  54.18406686,
         99.40832046,  29.52427074,  22.44379291,  41.59696419,
         97.70908813,  41.84454983,  97.04273273, 131.54759922,
        157.58568857,  94.58654051, 137.56663213, 120.75888571,
         72.48224974,  55.2634268 ,  45.76344546,  27.3500265 ,
         19.88129394,  66.9169175 , 166.60477032, 171.68186183,
        121.10841688],
       [ 39.49972806,  79.68734462,  68.52393906,  49.56838285,
         90.4251617 ,  28.34198024,  23.45626554,  33.83716896,
         85.66430865,  37.42008123,  89.47518524, 120.82903903,
        118.81523105,  86.60099795, 116.29951497, 107.15304975,
         78.10077007,  57.64369154,  53.79566114,  20.9954811 ,
         18.05293952,  51.03799516, 137.19845482, 153.3368771 ,
        117.96992864],
       [ 29.81581969,  69.115432  ,  62.6073021 ,  43.13916419,
         86.48458705,  26.76912246,  23.27312651,  33.10915096,
        111.04558352,  38.28329658,  83.65062773, 115.02159986,
        122.74058391,  89.85892009, 112.6283261 , 103.04060864,
         75.43648175,  47.62354979,  46.21823417,  17.3707024 ,
         15.42303167,  55.74373902, 136.59254283, 163.28932196,
        121.27725552],
       [ 40.12635154,  81.24034729,  69.52172138,  49.39214673,
         92.09533584,  27.20359416,  23.34918268,  38.89454661,
         96.93018456,  42.23291685,  88.75991642, 116.50769337,
        115.75925627,  83.350955  , 122.21194251, 111.13906399,
         80.02424532,  57.71771864,  51.93288171,  12.489007  ,
         10.21913795,  54.52675249, 138.88173959, 156.46898419,
        113.6400721 ],
       [ 35.09601432,  71.17266865,  74.17006226,  49.31108386,
         89.59317675,  27.45211516,  24.29589438,  35.16716504,
        100.20273163,  39.25205726,  91.01968234, 112.99075772,
        122.12809932,  89.04132612, 118.37963479, 102.84605998,
         74.98314981,  47.31830236,  46.00886254,  18.23209759,
         15.40138016,  56.86642399, 137.15889535, 150.69146785,
        115.86359056],
       [ 33.61005322,  71.7551177 ,  63.26973031,  46.8399388 ,
         87.44681611,  28.08772126,  24.91828803,  33.5628093 ,
         99.85943517,  38.38082482,  79.19212634, 112.71930569,
        116.73566006,  85.23909822, 117.79208556, 106.85195194,
         78.02212299,  53.12185314,  49.71537925,  17.82654509,
         15.13390735,  54.34372636, 136.95083888, 172.93491817,
        116.26489015],
       [ 30.96508695,  69.94197752,  50.44998465,  44.27253567,
         89.95412696,  27.50010162,  23.57857022,  35.58746034,
        114.92769388,  39.56178726,  86.01510767, 116.6317608 ,
        118.79269883,  85.15927701, 125.1534181 , 117.19618352,
         84.01477831,  61.37779261,  52.37183564,  17.57554497,
         14.04320013,  57.82043862, 139.49472447, 162.17467868,
        111.45898097]])

In [147]:
y_values.shape

(30, 25)

### New processing of X_train, y_train

In [148]:
image_df

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
0,f1005_N,0,None,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800
1,f1005_N,1,None,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-50,800
2,f1005_N,5,None,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-100,800
3,f1005_N,6,None,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-50,800
4,f1005_N,7,None,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,0,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58291,f1023_N,4051,None,62.201286,71.195367,51.577161,87.367042,171.292148,49.648766,23.162708,...,0.174533,0.105999,0.095336,-0.105999,30,600,0,50,-50,800
58292,f1023_N,4055,None,54.009258,71.064814,50.949863,76.000000,150.029997,44.045431,23.425438,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-100,800
58293,f1023_N,4056,None,61.008196,70.124363,50.418275,87.000000,172.046505,50.039984,23.380873,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-50,800
58294,f1023_N,4060,None,53.338541,69.796671,50.522126,76.419893,150.479234,44.045431,23.333220,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-100,800
58295,f1023_N,4061,None,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-50,800

In [149]:
def label_y(row):
    if row['case'] == y_case[0]:
        return y_values[0]
    if row['case'] == y_case[1]:
        return y_values[1]
    if row['case'] == y_case[2]:
        return y_values[2]
    if row['case'] == y_case[3]:
        return y_values[3]
    if row['case'] == y_case[4]:
        return y_values[4]
    if row['case'] == y_case[5]:
        return y_values[5]
    if row['case'] == y_case[6]:
        return y_values[6]
    if row['case'] == y_case[7]:
        return y_values[7]
    if row['case'] == y_case[8]:
        return y_values[8]
    if row['case'] == y_case[9]:
        return y_values[9]
    if row['case'] == y_case[10]:
        return y_values[10]
    if row['case'] == y_case[11]:
        return y_values[11]
    if row['case'] == y_case[12]:
        return y_values[12]
    if row['case'] == y_case[13]:
        return y_values[13]
    if row['case'] == y_case[14]:
        return y_values[14]
    if row['case'] == y_case[15]:
        return y_values[15]
    if row['case'] == y_case[16]:
        return y_values[16]
    if row['case'] == y_case[17]:
        return y_values[17]
    if row['case'] == y_case[18]:
        return y_values[18]
    if row['case'] == y_case[19]:
        return y_values[19]
    if row['case'] == y_case[20]:
        return y_values[20]
    if row['case'] == y_case[21]:
        return y_values[21]
    if row['case'] == y_case[22]:
        return y_values[22]
    if row['case'] == y_case[23]:
        return y_values[23]
    if row['case'] == y_case[24]:
        return y_values[24]
    if row['case'] == y_case[25]:
        return y_values[25]
    if row['case'] == y_case[26]:
        return y_values[26]
    if row['case'] == y_case[27]:
        return y_values[27]
    if row['case'] == y_case[28]:
        return y_values[28]
    if row['case'] == y_case[29]:
        return y_values[29]
    return 'error'
image_df.apply (lambda row: label_y(row), axis=1)

0        [34.9951567058, 69.7737882981, 74.2116371919, ...
1        [34.9951567058, 69.7737882981, 74.2116371919, ...
2        [34.9951567058, 69.7737882981, 74.2116371919, ...
3        [34.9951567058, 69.7737882981, 74.2116371919, ...
4        [34.9951567058, 69.7737882981, 74.2116371919, ...
                               ...
58291    [30.9650869505, 69.94197752390001, 50.44998465...
58292    [30.9650869505, 69.94197752390001, 50.44998465...
58293    [30.9650869505, 69.94197752390001, 50.44998465...
58294    [30.9650869505, 69.94197752390001, 50.44998465...
58295    [30.9650869505, 69.94197752390001, 50.44998465...
Length: 58296, dtype: object

In [150]:
image_df['y'] = image_df.apply (lambda row: label_y(row), axis=1)
image_df.head()

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
0,f1005_N,0,None,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,...,-0.0,0.0,-0.0,20,600,-100,-100,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
1,f1005_N,1,None,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,...,-0.0,0.0,-0.0,20,600,-100,-100,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
2,f1005_N,5,None,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,...,-0.0,0.0,-0.0,20,600,-100,-50,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
3,f1005_N,6,None,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,...,-0.0,0.0,-0.0,20,600,-100,-50,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
4,f1005_N,7,None,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,...,-0.0,0.0,-0.0,20,600,-100,-50,0,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."

In [151]:
image_df[3500:3501]

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
3500,f1007_N,2620,None,52.611786,67.181015,62.593172,78.313473,143.265488,50.0,28.955964,...,0.105999,-0.095336,0.105999,30,600,-100,50,-100,800,"[30.803483021999998, 63.8459236251, 62.7630913..."

In [152]:
image_df[3500:3501]

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
3500,f1007_N,2620,None,52.611786,67.181015,62.593172,78.313473,143.265488,50.0,28.955964,...,0.105999,-0.095336,0.105999,30,600,-100,50,-100,800,"[30.803483021999998, 63.8459236251, 62.7630913..."

In [153]:
image_df[6500:6501]

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
6500,f1037_N,855,None,41.10961,69.428438,66.67105,59.211485,109.55364,33.24154,25.91544,...,0.007654,0.123098,-0.124042,20,600,-50,-100,-100,800,"[34.5277991089, 67.44568711710001, 67.71112831..."

In [154]:
image_df[6500:6501]

,case,config_num,dest_dir,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
6500,f1037_N,855,None,41.10961,69.428438,66.67105,59.211485,109.55364,33.24154,25.91544,...,0.007654,0.123098,-0.124042,20,600,-50,-100,-100,800,"[34.5277991089, 67.44568711710001, 67.71112831..."

In [155]:
image_df[' dest_dir'].unique()

array([' None'], dtype=object)

In [156]:
image_df[' config_num'].unique()

array([   0,    1,    5, ...,  263,  938, 1613], dtype=int64)

In [157]:
train_image_df = image_df
train_image_df = train_image_df.drop(['case', ' dest_dir'], axis=1)
train_image_df.head()

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.0,0.0,-0.0,20,600,-100,-100,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
1,1,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,46.010868,100.000000,...,-0.0,0.0,-0.0,20,600,-100,-100,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
2,5,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,41.012193,102.530483,...,-0.0,0.0,-0.0,20,600,-100,-50,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
3,6,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,46.010868,100.023627,...,-0.0,0.0,-0.0,20,600,-100,-50,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
4,7,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,54.037024,101.956650,...,-0.0,0.0,-0.0,20,600,-100,-50,0,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."

In [158]:
length = len(train_image_df)

train_len = int(0.8 * length)
print(train_len)
test_len = int(0.1 * length)
print(test_len)

46636
5829

In [159]:
train_image_df.head()

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.0,0.0,-0.0,20,600,-100,-100,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
1,1,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,46.010868,100.000000,...,-0.0,0.0,-0.0,20,600,-100,-100,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
2,5,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,41.012193,102.530483,...,-0.0,0.0,-0.0,20,600,-100,-50,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
3,6,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,46.010868,100.023627,...,-0.0,0.0,-0.0,20,600,-100,-50,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
4,7,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,54.037024,101.956650,...,-0.0,0.0,-0.0,20,600,-100,-50,0,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."

In [160]:
# Split the dataframe into X and y
y_label = train_image_df['y']
train_image_df_original = train_image_df
train_image_df = train_image_df.drop(['y'], axis=1)
X_label = train_image_df

In [99]:
len(y_label)
#y_label = np.random.rand(58296,1)

58296

In [100]:
X_label

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800
1,1,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,46.010868,100.000000,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-50,800
2,5,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,41.012193,102.530483,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-100,800
3,6,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,46.010868,100.023627,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-50,800
4,7,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,54.037024,101.956650,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,0,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58291,4051,62.201286,71.195367,51.577161,87.367042,171.292148,49.648766,23.162708,68.468971,110.076455,...,0.174533,0.105999,0.095336,-0.105999,30,600,0,50,-50,800
58292,4055,54.009258,71.064814,50.949863,76.000000,150.029997,44.045431,23.425438,60.008333,111.107492,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-100,800
58293,4056,61.008196,70.124363,50.418275,87.000000,172.046505,50.039984,23.380873,69.028979,113.147059,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-50,800
58294,4060,53.338541,69.796671,50.522126,76.419893,150.479234,44.045431,23.333220,60.207973,112.878926,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-100,800
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-50,800

# Guardar X_label y y_label

In [106]:
X_label.to_csv('X_label.csv', index=False)
X_label_test = pd.read_csv('X_label.csv')
X_label_test

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800
1,1,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,46.010868,100.000000,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-100,-50,800
2,5,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,41.012193,102.530483,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-100,800
3,6,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,46.010868,100.023627,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,-50,800
4,7,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,54.037024,101.956650,...,0.000000,-0.000000,0.000000,-0.000000,20,600,-100,-50,0,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58291,4051,62.201286,71.195367,51.577161,87.367042,171.292148,49.648766,23.162708,68.468971,110.076455,...,0.174533,0.105999,0.095336,-0.105999,30,600,0,50,-50,800
58292,4055,54.009258,71.064814,50.949863,76.000000,150.029997,44.045431,23.425438,60.008333,111.107492,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-100,800
58293,4056,61.008196,70.124363,50.418275,87.000000,172.046505,50.039984,23.380873,69.028979,113.147059,...,0.174533,0.124042,0.123098,-0.007654,30,600,0,50,-50,800
58294,4060,53.338541,69.796671,50.522126,76.419893,150.479234,44.045431,23.333220,60.207973,112.878926,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-100,800
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.174533,0.095871,0.105516,0.095871,30,600,0,50,-50,800

In [109]:
y_label.to_pickle('y_label.csv')
y_label_test = pd.read_pickle('y_label.csv')#,squeeze = True)
y_label_test

0        [34.9951567058, 69.7737882981, 74.2116371919, ...
1        [34.9951567058, 69.7737882981, 74.2116371919, ...
2        [34.9951567058, 69.7737882981, 74.2116371919, ...
3        [34.9951567058, 69.7737882981, 74.2116371919, ...
4        [34.9951567058, 69.7737882981, 74.2116371919, ...
                               ...
58291    [30.9650869505, 69.94197752390001, 50.44998465...
58292    [30.9650869505, 69.94197752390001, 50.44998465...
58293    [30.9650869505, 69.94197752390001, 50.44998465...
58294    [30.9650869505, 69.94197752390001, 50.44998465...
58295    [30.9650869505, 69.94197752390001, 50.44998465...
Name: y, Length: 58296, dtype: object

In [110]:
type(y_label_test.squeeze())

pandas.core.series.Series

In [111]:
y_label_test[0]

array([ 34.99515671,  69.7737883 ,  74.21163719,  50.15516222,
        95.29040665,  31.27510732,  27.02726827,  36.51652124,
       104.34735741,  38.32129857, 108.15297792, 115.71686419,
       111.10568049,  82.46979039, 123.33906426, 105.84067154,
        78.56176172,  47.15588825,  44.55365557,  23.43532085,
        19.00072859,  59.92123195, 134.72288455, 124.56696722,
       109.22969568])

In [112]:
y_label[0]

array([ 34.99515671,  69.7737883 ,  74.21163719,  50.15516222,
        95.29040665,  31.27510732,  27.02726827,  36.51652124,
       104.34735741,  38.32129857, 108.15297792, 115.71686419,
       111.10568049,  82.46979039, 123.33906426, 105.84067154,
        78.56176172,  47.15588825,  44.55365557,  23.43532085,
        19.00072859,  59.92123195, 134.72288455, 124.56696722,
       109.22969568])

In [129]:
y_label[0][24]

109.22969568399999

In [113]:
type(y_label)

pandas.core.series.Series

In [115]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_label, y_label_test, test_size=0.2)
X_train

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,angle,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width
33343,515,33.015148,60.017622,59.938443,55.009090,102.122475,33.060551,25.992477,42.047592,127.358484,...,0.174533,0.124042,-0.123098,0.007654,20,600,-100,50,-100,800
31003,3831,68.066144,70.111696,68.582456,97.082439,174.103418,56.008928,26.798223,67.029844,98.477510,...,0.174533,0.124042,-0.123098,0.007654,30,600,0,0,-50,800
7911,3930,60.133186,68.052535,74.950141,88.362888,161.375339,52.952809,28.171968,61.032778,101.496000,...,0.174533,-0.105999,-0.095336,-0.105999,30,600,0,50,-100,800
23842,1084,75.953933,63.919434,66.084386,118.827606,186.118242,63.348244,27.817515,73.681748,97.008469,...,0.174533,0.000000,0.000000,-0.174533,20,600,-50,0,100,800
32192,1735,40.112342,67.744192,62.606791,59.211485,107.466274,34.058773,26.450673,41.436699,103.301618,...,0.174533,0.105999,-0.095336,0.105999,20,600,0,0,-100,800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48981,1074,69.000000,65.714286,63.111809,105.000000,184.000000,58.034473,24.800151,73.027392,105.836800,...,0.174533,-0.174533,0.000000,0.000000,20,600,-50,0,100,800
3231,1894,73.824115,66.616435,68.943334,110.819673,195.020512,61.351447,27.266232,81.049368,109.787117,...,0.174533,0.000000,0.000000,-0.174533,20,600,0,50,100,800
5898,3951,61.008196,65.596419,58.564345,93.005376,173.349358,63.071388,29.505811,62.072538,101.744589,...,0.174533,0.000000,-0.174533,0.000000,30,600,0,50,-50,800
416,640,38.639358,70.358121,78.790229,54.918121,100.439036,35.171011,29.055047,38.832976,100.501089,...,0.174533,0.007654,-0.123098,0.124042,20,600,-100,100,-100,800
1564,2705,62.000000,71.245545,76.543210,87.022985,162.049375,53.235327,27.423044,62.032250,100.052016,...,0.174533,0.124042,0.123098,-0.007654,30,600,-100,50,-100,800

In [116]:
import sklearn
sklearn.utils.multiclass.type_of_target(y_train[0])

'continuous'

In [117]:
# Make fake regression data to implement to the model
# (I need to check data types and sizes to feed my own data in the next box)
from sklearn.datasets import make_regression
X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# summarize dataset
print(X.shape, y.shape)
print(type(X), type(y))

(1000, 10) (1000, 2)
<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [118]:
X_train = np.array(X_train)
X_test = np.array(X_test)

df_train = pd.DataFrame(y_train.values.tolist(), index=y_train.index)
df_test = pd.DataFrame(y_test.values.tolist(), index=y_test.index)
y_train = np.asarray(df_train)
y_test = np.asarray(df_test)

In [119]:
print('Train')
print(X_train.shape, y_train.shape)
print(type(X_train), type(y_train))
print('Test')
print(X_test.shape, y_test.shape)
print(type(X_test), type(y_test))

Train
(46636, 39) (46636, 25)
<class 'numpy.ndarray'> <class 'numpy.ndarray'>
Test
(11660, 39) (11660, 25)
<class 'numpy.ndarray'> <class 'numpy.ndarray'>

In [120]:
# linear regression for multioutput regression
from sklearn.datasets import make_regression
from sklearn.linear_model import LinearRegression
# create datasets
#X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
model = LinearRegression()
# fit model
model.fit(X_train, y_train)
# make a prediction
row = X_test[100].tolist()
yhat = model.predict([row])
# summarize prediction
print(yhat[0])

[ 34.88757856  69.52879425  71.84701213  50.57704876  96.06107529
  31.04036246  26.38001144  36.91715087 106.50812005  38.40792603
 107.23952807 117.88365079 111.57133827  82.97166852 124.79407245
 106.86474635  79.60670611  48.35287529  45.29726785  22.90612469
  18.38429772  59.80429546 134.48020736 123.45979571 107.53547702]

In [121]:
y_test[100].tolist()

[34.9951567058,
 69.7737882981,
 74.2116371919,
 50.155162217,
 95.29040665059999,
 31.275107320700002,
 27.0272682731,
 36.516521242399996,
 104.347357406,
 38.3212985714,
 108.152977919,
 115.71686418600001,
 111.105680493,
 82.4697903877,
 123.33906426,
 105.840671538,
 78.5617617158,
 47.1558882542,
 44.5536555741,
 23.4353208506,
 19.0007285941,
 59.9212319511,
 134.722884551,
 124.56696721899999,
 109.22969568399999]

In [126]:
# evaluate multioutput regression model with k-fold cross-validation
from numpy import absolute
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
# create datasets
# X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
# model = DecisionTreeRegressor()
# define the evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
n_scores = cross_val_score(model, X_test, y_test, scoring='neg_mean_squared_error', cv=cv, n_jobs=-1)
# force the scores to be positive
n_scores = absolute(n_scores)
# summarize performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: 4.248 (0.097)

In [125]:
# evaluate multioutput regression model with k-fold cross-validation
from numpy import absolute
from numpy import mean
from numpy import std
from sklearn.datasets import make_regression
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
# create datasets
# X, y = make_regression(n_samples=1000, n_features=10, n_informative=5, n_targets=2, random_state=1, noise=0.5)
# define model
# model = DecisionTreeRegressor()
# define the evaluation procedure
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# evaluate the model and collect the scores
n_scores = cross_val_score(model, X_test, y_test, scoring='neg_mean_absolute_error', cv=cv, n_jobs=-1)
# force the scores to be positive
n_scores = absolute(n_scores)
# summarize performance
print('MAE: %.3f (%.3f)' % (mean(n_scores), std(n_scores)))

MAE: 1.422 (0.015)

## Compare linear regression for each value separately

In [161]:
train_image_df_original

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
1,1,46.010868,70.785951,69.585756,65.000000,118.038129,40.311289,28.353802,46.010868,100.000000,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
2,5,40.000000,70.164642,71.383061,57.008771,105.042848,35.227830,28.149854,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-50,-100,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
3,6,46.000000,70.760857,72.869144,65.007692,118.067777,40.311289,28.353802,46.010868,100.023627,...,-0.000000,0.000000,-0.000000,20,600,-100,-50,-50,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
4,7,53.000000,70.666667,69.586411,75.000000,137.091211,46.389654,28.252780,54.037024,101.956650,...,-0.000000,0.000000,-0.000000,20,600,-100,-50,0,800,"[34.9951567058, 69.7737882981, 74.2116371919, ..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58291,4051,62.201286,71.195367,51.577161,87.367042,171.292148,49.648766,23.162708,68.468971,110.076455,...,0.105999,0.095336,-0.105999,30,600,0,50,-50,800,"[30.9650869505, 69.94197752390001, 50.44998465..."
58292,4055,54.009258,71.064814,50.949863,76.000000,150.029997,44.045431,23.425438,60.008333,111.107492,...,0.124042,0.123098,-0.007654,30,600,0,50,-100,800,"[30.9650869505, 69.94197752390001, 50.44998465..."
58293,4056,61.008196,70.124363,50.418275,87.000000,172.046505,50.039984,23.380873,69.028979,113.147059,...,0.124042,0.123098,-0.007654,30,600,0,50,-50,800,"[30.9650869505, 69.94197752390001, 50.44998465..."
58294,4060,53.338541,69.796671,50.522126,76.419893,150.479234,44.045431,23.333220,60.207973,112.878926,...,0.095871,0.105516,0.095871,30,600,0,50,-100,800,"[30.9650869505, 69.94197752390001, 50.44998465..."
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,"[30.9650869505, 69.94197752390001, 50.44998465..."

In [228]:
s = train_image_df_original.apply(lambda x: pd.Series(x['y']),axis=1).stack().reset_index(level=1, drop=True)
s.name = 'y_single'
df = train_image_df_original.drop('y', axis=1).join(s)

In [229]:
df

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y_single
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,34.995157
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,69.773788
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,74.211637
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,50.155162
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,-0.000000,0.000000,-0.000000,20,600,-100,-100,-100,800,95.290407
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,14.043200
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,57.820439
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,139.494724
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,162.174679
58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.095871,0.105516,0.095871,30,600,0,50,-50,800,111.458981

In [230]:
# there are 25 different values
df = df.reset_index()
df['y_num'] = 0
value = 0
for index, row in df.iterrows():
    #print('index', index)
    if value == 25:
        value = 0
    #print('value', value)
    df.at[index, 'y_num'] = value
    value = value + 1
df

,index,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,...,eulerY,eulerZ,fx,height,tx,ty,tz,width,y_single,y_num
0,0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,...,0.000000,-0.000000,20,600,-100,-100,-100,800,34.995157,0
1,0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,...,0.000000,-0.000000,20,600,-100,-100,-100,800,69.773788,1
2,0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,...,0.000000,-0.000000,20,600,-100,-100,-100,800,74.211637,2
3,0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,...,0.000000,-0.000000,20,600,-100,-100,-100,800,50.155162,3
4,0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,...,0.000000,-0.000000,20,600,-100,-100,-100,800,95.290407,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457395,58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,...,0.105516,0.095871,30,600,0,50,-50,800,14.043200,20
1457396,58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,...,0.105516,0.095871,30,600,0,50,-50,800,57.820439,21
1457397,58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,...,0.105516,0.095871,30,600,0,50,-50,800,139.494724,22
1457398,58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,...,0.105516,0.095871,30,600,0,50,-50,800,162.174679,23
1457399,58295,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,...,0.105516,0.095871,30,600,0,50,-50,800,111.458981,24

In [231]:
df = df.drop(['index'], axis=1)
df

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerY,eulerZ,fx,height,tx,ty,tz,width,y_single,y_num
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,34.995157,0
1,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,69.773788,1
2,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,74.211637,2
3,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,50.155162,3
4,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,95.290407,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457395,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,14.043200,20
1457396,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,57.820439,21
1457397,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,139.494724,22
1457398,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,162.174679,23
1457399,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,111.458981,24

In [232]:
df.to_csv('df_all_measurements.csv', index=False)
df_test = pd.read_csv('df_all_measurements.csv')
df_test

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerY,eulerZ,fx,height,tx,ty,tz,width,y_single,y_num
0,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,34.995157,0
1,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,69.773788,1
2,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,74.211637,2
3,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,50.155162,3
4,0,40.000000,70.175439,70.132280,57.000000,105.042848,35.355339,28.251744,41.012193,102.530483,...,0.000000,-0.000000,20,600,-100,-100,-100,800,95.290407,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1457395,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,14.043200,20
1457396,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,57.820439,21
1457397,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,139.494724,22
1457398,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,162.174679,23
1457399,4061,61.400326,71.007952,50.913006,86.469648,171.572142,50.089919,23.423389,69.180922,112.671914,...,0.105516,0.095871,30,600,0,50,-50,800,111.458981,24

In [233]:
# Split the dataframe into X and y
all_y = df_test['y_single']
all_X = df_test.drop(['y_single'], axis=1)

all_X_train, all_X_test, all_y_train, all_y_test = train_test_split(all_X, all_y, test_size=0.2)
all_X_train

,config_num,al L-al R,al L-al R/ch L-ch R x 100,al L-al R/n-sn x 100,ch L-ch R,ec L-ec R,en L-ec L,en L-ec L/fz L-fz R x 100,en L-en R,en L-en R/al L-al R x 100,...,eulerX,eulerY,eulerZ,fx,height,tx,ty,tz,width,y_num
827627,181,41.048752,59.391232,59.843934,69.115845,124.402572,38.000000,24.783721,51.156622,124.624064,...,0.007654,0.123098,-0.124042,20,600,-100,-100,-50,800,2
1411958,66,42.000000,71.186441,54.527064,59.000000,114.004386,34.058773,24.154550,46.000000,109.523810,...,-0.000000,0.000000,-0.000000,20,600,0,50,-50,800,8
735138,373,60.406953,70.754319,66.970179,85.375641,148.973152,51.478151,29.046639,58.420887,96.712189,...,0.007654,-0.123098,0.124042,20,600,-100,0,50,800,13
1072138,442,60.074953,68.262585,72.123417,88.005682,135.014814,38.013156,20.659324,59.008474,98.224752,...,-0.124042,0.123098,0.007654,20,600,-100,0,0,800,13
458834,1232,57.218878,66.088295,63.509920,86.579443,136.619911,45.705580,27.554488,50.358713,88.010662,...,0.123102,-0.007596,-0.123102,20,600,-50,50,0,800,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
514084,1836,47.095647,72.446269,67.272632,65.007692,122.409150,43.011626,30.143729,44.181444,93.812160,...,-0.124042,-0.123098,-0.007654,20,600,0,50,-50,800,9
235142,2350,54.147945,66.722317,60.744604,81.154174,143.125819,50.159745,28.322571,56.080300,103.568656,...,0.105999,-0.095336,0.105999,30,600,-100,-50,-100,800,17
1408738,3921,67.186308,73.719913,62.766277,91.137259,166.003012,50.039984,24.057407,65.030762,96.791688,...,0.124042,0.123098,-0.007654,30,600,0,0,-50,800,13
145977,3872,72.560320,66.100640,54.570516,109.772492,207.067622,70.710678,27.953470,73.681748,101.545512,...,0.123102,-0.007596,-0.123102,30,600,0,0,0,800,2
452880,940,42.579338,62.985532,65.313723,67.601775,102.107786,34.058773,27.149887,37.336309,87.686449,...,-0.123102,-0.007596,0.123102,20,600,-50,-50,-100,800,5

In [ ]:
# Now I have to predict linear regression with only one thing